<%= form_for @post do |f| %>
	<div class="form-group"><%= f.label :title %><br>
	 <%= f.text_field :title %>
	</div>
	<div class="form-group">
	 <%= f.label :blog_entry %> <br>
	 <%= f.text_area :blog_entry %>
	</div>
	<div class="form-group cant-see-me">
		<%= f.number_field :user_id, value: current_user.id %>
	</div>
	<%= f.submit %>
<% end %>
