<% @posts.each do |post| %>
	<h2 class="title"><%= link_to post.title, post %></h2>
	<p class="author"><strong>by <%= post.user.name %></strong></p>
	<p class="body"><%= post.blog_entry %></p>
<% end %>


<% if user_signed_in? %>
   <%= link_to 'Create New Post', new_post_path %> |
   <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% end %>
   
